button:hover {
    text-decoration: underline;
    cursor: pointer;
}
label {
    display: none;
}
.findForm {
    background-image: url("total-swimming-search-3.jpg");
    background-size: cover;
    height: 600px;
}

.findForm article {
    width: 60%;
    height: fit-content;
    padding: 17px;
    text-align: center;
    margin: auto;
    background-color: rgba(51,51,51,0.9);
    position: relative;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 0;
}
.findForm article h1 {
    
    font-weight: bold;
    font-size: 36px;
    margin-top: 14px;
}
.findForm article p a{
    text-decoration: underline;
    color: #fff;
}
findForm article p a:hover {
    cursor: pointer;
}
.findForm article select, .findForm article input[type=text] {
    padding: 6px 12px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    max-width: 200px;
    width: 100%;
}
.findForm article input[type=text] {
    height: 18px;
}
.findForm article button {
    background-color: #2f69bc;
    padding: 8px 18px;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    max-width: 200px;
    width: 100%;
    font-weight: bold;
}
.findFormOpen {
    display: none;
}
.findFormOpen_show {
    display: block;
    background-image: url("footer-bg.jpg");
    height: 470px;
    min-height: fit-content;
}
.findFormOpen_show article {
    background-color: transparent;
    top: 50px;
}
.lancashireClosed {
    display: none;
}
.lancashire {
    max-width: 1140px; 
    margin: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
}
.lancashire .filters {
    width: 25%;
    float: left;
    padding: 0 15px;
}
.lancashire .classes {
    width: 75%;
    float: right;
    padding: 0 15px;
}
.lancashire h2 {
    margin: 0;
    margin-bottom: 14px;
    font-size: 38px;
}
.lancashire a {
    font-size: 15px;
    color: #333;
    margin: 0;
}
.lancashire .classes h3 {
    font-size: 14px;
    margin: 14px 0;
}
.lancashire .filters h3 {
    font-size: 17px;
    margin: 14px 0;
}
.lancashire .filters ul {
    margin: 0;
    padding: 0;
    font-size: 15px;
    margin-bottom: 30px;
}
.lancashire .filters .days {
    display: flex;
    flex-wrap: wrap;
}
.lancashire .filters .days p{
    width: 100%;
}
.lancashire .filters .days li{
    width: 50%;
}
.slider {
    -webkit-appearance: none;
    width: 265px;
    height: 15px;
    border-radius: 5px;
    background: #2f69bc;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2f69bc;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2f69bc;
    cursor: pointer;
}
.lancashire .filters .time {
    position: relative;
    top: 25px;
    margin: 0;
    max-width: 265px;
    display: flow-root;
}
.lancashire .filters .time .start {
    float: left;
}
.lancashire .filters .time .end {
    float: right;
}
.lancashire .filters button {
    position: relative;
    top: 45px;
    background-color: #2f69bc;
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}
.lancashire table{
    width: 100%;
    border-spacing: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.lancashire table tr {
    border-collapse: collapse;
    height: 60px;
    vertical-align: text-top;
    display: table-row;
    padding: 8px;
}
.lancashire table thead tr th {
    font-size: 15px;
    color: #333;
    text-align: left;
    border-top: 1px solid #ddd;
    font-weight: bold;
    word-wrap: normal;
    padding: 8px;
}
.lancashire table tbody {
    border-top: 2px solid #ddd;
    vertical-align: middle;
}
.lancashire table tbody tr td {
    border-top: 1px solid #ddd;
    padding: 8px;
    font-size: 16px;
}
.lancashire table tbody tr td.ability {
    text-decoration: underline;
    cursor: pointer;
}
.lancashire table tbody tr td.spaces {
    padding-left: 28px;
}
.lancashire table tbody tr td.none {
    color: darkred;
}
.lancashire table tbody tr td.one {
    color: midnightblue;
}
.lancashire table tbody tr td span {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #404040;
    border-radius: 10px;
}
.lancashire table tbody tr td button {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}
.lancashire table tbody tr td button.register{
    background-color: orange;
    color: #333;
}
.lancashire table tbody tr td button.select {
    background-color: green;
}
.lancashire table tbody tr td button.select:hover {
    background-color: greenyellow;
}
.lancashire table tbody tr td button.register:hover {
    background-color: #E6398B;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .findForm article button, .findForm article select[id=swimmingAbility] {
        max-width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
    .findForm article input[type=text], .findForm article select[id=area] {
        max-width: 42%;

    }
    .findFormOpen_show article {
        top: 0;
    }
    .findForm article input[type=text]{
        margin-left: 1%;
    }
    .lancashire {
        display: block;
    }
    .lancashire .filters, .lancashire .classes {
        width: 95vw;
        margin-bottom: 55px;
    }
    .lancashire .classes {
        margin: auto;
    }
    .slider {
        width: 95%;
    }
    .lancashire .filters .time {
        max-width: 99%;
    }
    .lancashire .classes table thead {
        display: none;
    }
    .lancashire .classes table tbody tr td::before {
        content: attr(data-heading);
        font-weight: bold;
        width: 155px;
        float: left;
        color: #333;
    }
    .lancashire table tr {
        border: 2px solid #ddd;
        display: table;
        box-sizing: border-box;
    }
    .lancashire table tbody tr td.spaces {
        padding: 8px;
    }
    .lancashire .classes table tbody tr td {
        width: 100%;
        display: block;
        float: left;
        border: none;
    }
    .lancashire .classes table tbody tr td button {
        width: 98%;
    }
}
@media screen and (max-width: 740px) {
    .findForm article {
        width: 80%;
        top: 60px;
    }
    .findFormOpen_show article {
        top: 0;
    }
    .findForm article input[type=text], .findForm article select[id=area] {
        max-width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
    .findForm article input[type=text] {
        max-width: 84%;
    }
}
@media screen and (max-width: 538px){
    .findForm article h1 {
        font-size: 28px;
    }
}
@media screen and (max-width: 412px) {
    .findForm article input[type=text] {
        max-width: 80%;
    }
}