h1 {
    font-family: "futura-pt-condensed",sans-serif !important;
}
p{
    font-family: "proxima-nova",sans-serif !important;
}

.banner {
    width: 100vw;
    height: 300px;
}
.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 3% 4%;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}
.learnToSwim {
    float: left;
    width: 70%; 
    margin-right: 10%;
}
.breadcrumbs {
    color: #333;
    margin-bottom: 15px;
}
.breadcrumbs a {
    color: #333;
    text-decoration: none;
}
.learnToSwim h1 {
    color: #ee4197;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 14px;
}
.learnToSwim .subheading {
    color: #2f69bc;
    font-size: 17px;
    line-height: 1.2em;
}
.findAClassBox {
    background-color: #ececec;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    float: left;
    width: 95%;
}
.findAClassBox h2 {
    color: #2f69bc;
    font-size: 1.2em;
    padding: 10px;
    margin: 0;
    width: fit-content;
    float: left;
}
.findAClassBox a {
    float: right;
    background-color: #2f69bc;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.findAClassBox a:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #59a7cb;
}
iframe {
    width: 100%;
    border: none;
}
.learnToSwim article h2 {
    font-size: 17px;
}
.learnToSwim article h3, .learnToSwim article p{
    font-size: 15px;
}
.learnToSwim .areaButtons h2{
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
}
.areaButtons a {
    background-color: #333;
    border: none;
    width: 125px;
    height: 125px;
    padding: 20px;
    float: left;
    color: #fff;
    margin: 0 20px 20px 0;
    font-size: 17px;
    text-decoration: none;
}
.areaButtons a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sideNav {
    float: right;
    height: fit-content;
    width: 19%;
    border-left: 1px solid #2f69bc;
}
.sideNav ul {
    padding: 0 25px;
    margin: 0;
}
.sideNav ul li {
    list-style-type: none;
    font-size: 15px;
    margin-bottom: 10px;
}
.sideNav ul li a {
    color: #333;
    text-decoration: none;
}
.sideNav ul li a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 820px){
    .learnToSwim {
        width: 95vw;
    }
    .sideNav {
        width: 84%;
        float: none;
        background-color: #2f69bc;
        border: none;
        border-radius: 5px;
        padding: 20px;
        font-weight: bold;
    }
    .sideNav ul li a {
        color: #fff;
    }
    .areaButtons a {
        width: 46%;
    }
}
@media screen and (max-width: 646px) {
    .findAClassBox {
        width: 86%;
    }
    .findAClassBox h2 {
        text-align: center;
        width: 96%;
    }
    .findAClassBox a {
        float: none;
        width: 100%;
        margin: auto;
    }
    .sideNav {
        width: 77%;
    }
    .sideNav ul {
        padding: 0;
    }
    .areaButtons a {
        width: 86%;
    }
}