body {
    margin: 0;
    overflow-x: hidden;
    font-family: "proxima-nova",sans-serif !important;
    color: #333;
    line-height: 1.48;
}
li {
    list-style-type: none;
}

header a img{
    height: 60px;
    max-width: 100%;
}
header {
    background-color: #eee;
    padding: 0 15px;
}
.header {
    padding: 10px 15px;
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
header .responsive {
    display: none;
}
header .menuLinks {
    display: inline-flex;
    float: right;
    height: 70px;
    align-items: center;
    padding-right: 10px;
}
header .menuLinks a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    margin-right: 10px;
}
header .menuLinks a:hover {
    text-decoration: underline;
}
header .menuLinks .dropdown, header .menuLinks_responsive .dropdown {
    border: none;
    background-color: transparent;
    padding-left: 5px;
}
.findBtn, .loginBtn {
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    margin-left: 15px;
    height: 35px;
}
.findBtn {
    background-color: #2f69bc;
    color: #fff;
}
.findBtn:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #59a7cb;
}
.loginBtn {
    background-color: transparent;
    border: 1px solid #2f69bc;
    color: #2f69bc;
}
.loginBtn:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #2f69bc;
    color: #fff;
}
@media screen and (max-width: 992px) {
    header .responsive {
        display: inline-flex;
        float: right;
        height: 70px;
        align-items: center;
        padding-right: 10px;        
    }
    header .responsive .burger, header .responsive .burger_responsive {
        border: none;
        background-color: transparent;
        height: 35px;
        font-size: 30px;
        margin-left: 15px;
        color: #2f69bc;
    }
    header .responsive .burger:hover, header .responsive .burger_responsive:hover {
        color: #59a7cb;
        cursor: pointer;
    }
    header .menuLinks_responsive {
        display: grid;
        z-index: 1;
        float: right;
        position: absolute;
        width: 100%;
        left: 0;
        text-align: right;
        background-color: #eee;
        border-top: 1px solid #2f69bc;
        padding-top: 10px;
    }
    header .menuLinks_responsive a {
        text-decoration: none;
        color: #2f69bc;
        margin-right: 40px;
        padding-bottom: 10px;
    }
    header .menuLinks_responsive .findBtn, header .menuLinks_responsive .loginBtn {
        margin: 5px 15px 10px 15px;
    } 
    header .menuLinks {
        display: none;
    }
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding-top: 40px;
}
.footer {
    max-width: 1140px;
    margin: auto;  
}
.info {
    max-width: 320px;
    float: left;
    padding-left: 10px;
    padding: 10px;
    margin-right: 60px;
}
.info h4 {
    margin: 0;
}
.firstNav, .secondNav {
    max-width: 160px;
    float: left;
    padding: 10px;
    margin-right: 60px;
}
.firstNav ul, .secondNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.firstNav ul li, .secondNav ul li {
    margin-bottom: 10px;
}
.firstNav ul li a, .secondNav ul li a {
    text-decoration: none;
    color: #fff;
}
.firstNav ul li a:hover, .secondNav ul li a:hover {
    text-decoration: underline;
}
.social {
    float: right;
    font-size: 20px;
    padding: 10px;
}
.social i {
    padding: 5px;
}
.copyright {
    width: 94%;
    float: left;
    padding-left: 10px;
    padding-bottom: 40px;
}
